page-relatorio-completo-propriedades {
.header .col {
    background-color:black;
    font-size: 100;
    color:white;
    font-weight: bolder;
}

.col {
    border: solid 1px grey;
    border-bottom-style: none;
    border-right-style: none;
}

.col:last-child {
    border-right: solid 1px grey;
}

.row:last-child .col {
    border-bottom: solid 1px grey;
    }
ion-title {
        padding: 0;
        margin-bottom: 10px;
      }
}
