<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Perfil</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <img  [src]="profileImage">
  <ion-avatar></ion-avatar>

  <ion-row class="row-camera">
    <ion-col col-6>
      <ion-icon color="dark"   (click)="getCameraPicture()"  name="ios-camera"></ion-icon>
      <p>Camera</p>
    </ion-col>
    <ion-col col-6>
    <ion-icon color="dark"   (click)="getGalleryPicture()"  name="md-photos"></ion-icon>
    <p>Galeria</p>
  </ion-col>
  </ion-row>
  <h2 text-center>{{usuario?.nome}}</h2>
  <p text-center>{{usuario?.email}}</p>
  <ion-card>
    <ion-item *ngIf="picture">
      <img [src]="picture">
    </ion-item>
    <ion-item>

      <button *ngIf="picture" ion-button block outline (click)="sendPicture()" [disabled]="cameraOn">Enviar imagem</button>
      <button *ngIf="picture" ion-button block outline (click)="cancel()" [disabled]="cameraOn">Descartar imagem</button>
    </ion-item>
  </ion-card>
</ion-content>
