page-profile {
  img{
    width: 200px;
    align-self: center;
    margin:auto;
    display: block;
    padding: 10px;
    border-radius: 60%;
  }

  ion-icon {
    margin-left:38%;
}
.row-camera{
  font-weight: bolder;
}
.row-camera p{
  margin-left:38%;
}

.icon-button{
  font-size:38px
}

}
