page-profile {
  .img-salva{
    width: 70%;
    align-self: center;
    margin:auto;
    display: block;
    padding: 10px;
    border-radius: 50%;
  }


.row-camera{
  font-weight: bolder;
  text-align: center;
}


.icon-button{

}
.icon-img{
  width: 80%;
  height: 80%;
}


}

ion-toast.toast-ios.toast-attention div,
ion-toast.toast-md.toast-attention div {
  background-color: rgb(193, 117, 3);

  }
