<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Perfil</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="!picture || mandandoFoto">
    <img class="img-salva" [src]="profileImage">


    <ion-row class="row-camera">
      <ion-col col-4>
        <img class="icon-img" *ngIf="!apertouCamera" (click)="getCameraPicture()" src="assets/imgs/camera-icon.png" />
      </ion-col>
      <ion-col col-4>
      </ion-col>

      <ion-col col-4>
        <img class="icon-img" *ngIf="!apertouCamera" (click)="getGalleryPicture()" src="assets/imgs/gallery-icon.png" />
      </ion-col>

    </ion-row>
  </div>

  <div *ngIf="picture && !mandandoFoto">
    <ion-avatar>
      <img class="img-salva" [src]="picture">
    </ion-avatar>
    <ion-row class="row-camera">
      <ion-col col-4>
        <img class="icon-img" src="assets/imgs/check-img.png" (click)="sendPicture()"  />

      </ion-col>

      <ion-col col-4>
      </ion-col>

      <ion-col col-4>
        <img class="icon-img" src="assets/imgs/close-img.png"  (click)="cancel()" />


      </ion-col>

    </ion-row>
  </div>
  <h2 text-center>{{usuario?.nome}}</h2>
  <p text-center>{{usuario?.email}}</p>

</ion-content>
