page-home {
  .scroll-content {
    background-color: map-get($colors, light);
}

ion-card-header {
    font-weight: bold;
}

img{
  width: 20%;
  align-self: center;
  margin:auto;
  display: block;
  
  }

.list-chats p{
  font-size: 25px;
  text-align: center;
  font-weight: bold;
  color:white;
}
.list-chats ion-item{
  margin-bottom: 20px;
  border-radius: 10%;
  background:#232526;
}
ion-item.item.item-block.item-md {
  border-radius: 45%;
}

}
ion-toast.toast-ios.toast-error div,
ion-toast.toast-md.toast-error div {
  background-color: #f53d3d;
  font-size: 15.8px;
  }
.toast-md .toast-wrapper,
.toast-ios .toast-wrapper {
  background-color: rgb(19, 172, 19);
  color:black;
}