<ion-menu [content]="content" class="sidebar">


    <ion-content class="content" *ngIf="globals.pages">
      <img menuClose (click)="openPage({component:'ProfilePage'})" class="img-perfil-menu" [src]="this.globals.profileImage"/>
      <ion-list no-lines class="options">
        <button  menuClose ion-item *ngFor="let p of globals.pages" (click)="openPage(p)">
            <ion-icon [name]="p.icone"></ion-icon>
          {{p.title}}
        </button>
      </ion-list>
    </ion-content>

  </ion-menu>

  <!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
  <ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
