<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
      <ion-title>Novo Funcionário</ion-title>
    </ion-navbar>
  </ion-header>

  <ion-content padding>
    <form [formGroup]="formGroup" (ngSubmit)="signupUser(); $event.preventDefault()">
      <ion-item>
        <ion-label floating>Nome*</ion-label>
        <ion-input formControlName="nome" type="text"></ion-input>
      </ion-item>
      <p class="text-danger" *ngIf="formGroup.controls.nome.touched && formGroup.controls.nome.errors" margin-left>Nome inválido</p>

      <ion-item>
        <ion-label floating>Email*</ion-label>
        <ion-input formControlName="email" type="text"></ion-input>
      </ion-item>
      <p class="text-danger" *ngIf="formGroup.controls.email.touched && formGroup.controls.email.errors" margin-left>Email inválido</p>

      <ion-item>
        <ion-label floating>CPF</ion-label>
        <ion-input formControlName="cpf" type="number"></ion-input>
      </ion-item>
      <p class="text-danger" *ngIf="formGroup.controls.cpf.touched && formGroup.controls.cpf.errors" margin-left>CPF inválido</p>

      <ion-item>
        <ion-label floating>Senha*</ion-label>
        <ion-input formControlName="senha" type="password"></ion-input>
      </ion-item>
      <p class="text-danger" *ngIf="formGroup.controls.senha.touched && formGroup.controls.senha.errors" margin-left>Valor inválido</p>

      <ion-item>
          <ion-label floating>Telefone 1*</ion-label>
          <ion-input formControlName="telefone1" type="text"></ion-input>
        </ion-item>
        <p class="text-danger" *ngIf="formGroup.controls.telefone1.touched && formGroup.controls.telefone1.errors" margin-left>Telefone inválido</p>

        <ion-item>
          <ion-label floating>Telefone 2</ion-label>
          <ion-input formControlName="telefone2" type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>Telefone 3</ion-label>
          <ion-input formControlName="telefone3" type="text"></ion-input>
        </ion-item>

      <ion-item>
      <ion-label floating>CEP*</ion-label>
        <ion-input (ionBlur)="buscarViaCep()" formControlName="cep" type="text"></ion-input>
      </ion-item>
      <p class="text-danger" *ngIf="formGroup.controls.cep.touched && formGroup.controls.cep.errors" margin-left>CEP inválido</p>

      <ion-item>
        <ion-label floating>Número*</ion-label>
        <ion-input formControlName="numero" type="text"></ion-input>
      </ion-item>
      <p class="danger" *ngIf="formGroup.controls.numero.touched && formGroup.controls.numero.errors" margin-left>Número inválido</p>

      <ion-item>
        <ion-label floating>Complemento</ion-label>
        <ion-input formControlName="complemento" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Bairro</ion-label>
        <ion-input formControlName="bairro" type="text"></ion-input>
      </ion-item>

      <ion-item>
          <ion-label floating>Logradouro*</ion-label>
          <ion-input formControlName="logradouro" type="text"></ion-input>
        </ion-item>
        <p class="danger" *ngIf="formGroup.controls.logradouro.dirty && formGroup.controls.logradouro.errors" margin-left>Logradouro inválido</p>

      <ion-item>
        <ion-label floating>Estado*</ion-label>
        <ion-select disabled formControlName="estadoId" (ionChange)="updateCidades()">
          <ion-option *ngFor="let estado of estado" [value]="estado.id" >{{estado.nome}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label floating>Cidade*</ion-label>
        <ion-select disabled formControlName="cidadeId">
          <ion-option *ngFor="let cidade of cidades" [value]="cidade.id">{{cidade.nome}}</ion-option>
        </ion-select>
      </ion-item>

      <button ion-button block type="submit" color="secondary" [disabled]="formGroup.invalid">Criar Funcionário</button>
    </form>
    <button ion-button block  (click)="backHome()">Voltar</button>
  </ion-content>
